# Auto detect text files and perform LF normalization
* text=auto

# Files I want to have unix (LF) style line endings so the RPi kernel treats them appropriately
*.py text eol=lf
*.sh text eol=lf

# systemd unit files
*.service text eol=lf
*.target text eol=lf
*.mount text eol=lf

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
